/* GLOBAL ------------------------------------------------------- */

body {
 font-size: 14px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a{text-decoration: none;}
a:hover{text-decoration: none;}

:root{
  --color-primary:#0d6efd;
  --color-primary-1:rgb(61,139,253);
  --color-primary-2:rgb(110,168,254);
  --color-primary-3:rgb(127,189,255);
  --color-good:#00b04f;
  --color-good-hover:#009E47;
  --color-bad:#e55563;
  --color-bad-hover:#E13B4B;
  --color-forecasted: #0085ad;
  --color-escalated:#ffaa00;
  --color-clash:#ED7D31;
  --color-bad-bg:rgb(250,221,224);
  --color-text-1:rgb(51,51,51);
  --color-text-2:rgb(90,90,90);
  --color-text-3:rgb(120,120,120);
  --color-text-4:rgb(170,170,170);
  --border-color-gray-00: rgb(250,250,250);
  --border-color-gray-0: rgb(240,240,240);
  --border-color-gray-1: rgb(220,220,220);
  --border-color-gray-2: rgb(190,190,190);
  --border-color-gray-3: rgb(170,170,170);
  --border-color-gray-4: rgb(140,140,140);
  --bg-color-selected-1: rgb(51,51,51);
  --bg-color-selected-2: #ffffc8;
  --bg-color-selected-3: rgb(255,255,100);
  --bg-app:  rgb(228,228,228);
  --color-migso-black:rgb(51,51,51);
  --color-migso-darkBlue:rgb(44,43,100);
  --color-migso-blue:rgb(2, 168, 219);
  --color-migso-blue-hover:#0297C6;
  --color-migso-yeallow:#fcc708;

  }

.grabbing{
  cursor:grabbing;
}
  
/* IMPORT -------------------------------------------------------------------------*/
 
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* APP STRUCTURE ------------------------------------------------------------------- */

 #appMain{
  height:100vh;
}

#appHeader{
  background-color: white;
  height: 60px;
  box-shadow: 2px 4px 8px 0px rgb(0, 0, 0);
}

#appBody{
  height: calc(100% - 60px );
  background: linear-gradient(0.25turn, rgba(201, 207, 213, 0.65), rgba(222, 228, 234, 0.65), rgba(196, 208, 222, 0.65));
}

#appSideBar{
  background-color: var(--color-migso-black);
  min-width:70px;
  max-width:70px;
  padding-top:5px;
  padding-bottom:10px;
  box-shadow: 5px 8px 8px 0px rgb(255, 255, 255);
  border-top:1px solid rgba(255,255,255,0.2);
  padding-right: 2px;
  overflow-y: auto;
}

#appSideBar::-webkit-scrollbar{
  display: none;
}

#appContent{
  margin:30px;
  background-color: white;
  max-width:100%;
  overflow: auto;
  animation-duration: 800ms;
  animation-name: opacityIn;
  animation-iteration-count: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,0.6);
}

#appContent::-webkit-scrollbar{
  background-color:var(--border-color-gray-0); 
 height:8px;
 width:8px; 
 transition: 0.3s;
}

#appContent::-webkit-scrollbar-thumb{
 background-color: var(--border-color-gray-4);
}

#appContent::-webkit-scrollbar-thumb:hover{
 background-color: var(--color-migso-blue);
}

#appFooter{
  background-color: white;
  height:35px;
  position: relative;
}

#canevasMilestone{
  display:none;
}

/* LOGO ------------------------------------------------ */

.logoContent{
  font-family: 'Oswald', cursive;
  font-size: 20px;
  color:var(--color-text-1);
}

.logoIcon{
  color:var(--color-migso-blue);
  font-size: 45px;
  margin:0px 10px 0px 10px;
  transition: 0.1s;
  opacity: 1;
}
.logoContent:hover .logoByMigso{
  color:var(--color-migso-blue) !important;
}
.logoTxtContent{
  margin-top:-3px;
}
.logoByMigso{
  font-size: 10px;
  margin-left:1px;
  color:var(--border-color-gray-2);
  margin-top:-2px;
  transition:0.3s;
}

/* HEADER MENU ---------------------------------------- */

.headerMenuBlock{
  margin:0px 30px;
  height: 100%;
  font-weight: 600;
}
.headerMenuBlock a{
  color:var(--color-text-1);
  transition: 0.1s;
}
.headerMenuItem{
  padding:0px 20px;
  opacity: 0.6;
}
.headerMenuItem:hover{
  opacity: 1;
  transition:0.3s;
}
.headerMenuIcon{
  margin-right:10px;
  font-size: 30px;
  color:var(--color-migso-blue);
}
.headerNavSelected{
  background-color: var(--border-color-gray-0);
  border-bottom:4px solid var(--color-migso-blue) !important;
}
.headerNavSelected .headerMenuItem{
  opacity:1;
}

amplify-sign-out {
  width: 50px !important;
} 

/* SPECIFICATION -------------------------------------- */

.specificationContent{
  margin-bottom:20px;
}

/* MODAL ------------------------------------ */

.modalContent{
  animation-duration: 200ms;
  animation-name: opacityIn;
  animation-iteration-count: 1;
  position: fixed;
  top: 30px;
  left:50%;
  margin-left: -250px;
  z-index: 1060;
  width:500px;
  overflow: hidden;
}

.modalBg{
  animation-duration: 500ms;
  animation-name: opacityInbg;
  animation-iteration-count: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity:0.5;
}

.modalBlockBg{
  background-color: var(--border-color-gray-00);
}

.modalLabel{
  color:var(--color-text-1);
  font-weight: 600;
}

.modalLabelFooter{
  color:var(--color-text-1);
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 8px;
}

.modalButtonSubmit{
  color: #fff;
  background-color: var(--color-migso-blue);
  border-color: var(--color-migso-blue);
}
.modalButtonSubmit:hover{
  color: #fff !important;
  background-color: var(--color-migso-blue-hover) !important;
  border-color: var(--color-migso-blue-hover) !important;
}

.modalButtonSubmitOutline{
  color: var(--color-text-1);
  background-color: #ffffff;
  border-color: var(--border-color-gray-1);
}
.modalButtonSubmitOutline:hover{
  color: var(--color-migso-blue-hover)!important;
  background-color: #fff !important;
  border-color: var(--color-migso-blue-hover) !important;
}

.modalButtonSubmitDanger{
  color: #fff;
  background-color: var(--color-bad);
  border-color: var(--color-bad);
}
.modalButtonSubmitDanger:hover{
  color: #fff !important;
  background-color: var(--color-bad-hover) !important;
  border-color: var(--color-bad-hover) !important;
}

.modalButtonSubmitCancel{
  color: #fff;
  background-color: var(--border-color-gray-2);
  border-color: var(--border-color-gray-2);
}
.modalButtonSubmitCancel:hover{
  color: #fff !important;
  background-color: var(--border-color-gray-3) !important;
  border-color: var(--border-color-gray-3) !important;
}

.modalButtonSubmitSuccess{
  color: #fff;
  background-color: var(--color-good);
  border-color: var(--color-good);
}
.modalButtonSubmitSuccess:hover{
  color: #fff !important;
  background-color: var(--color-good-hover) !important;
  border-color: var(--color-good-hover) !important;
}

.modalIconListDelete{
  color:var(--color-bad);
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;;
}

.modalItemFloat{
  float:left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.modalIconAddDel{
  padding:2px;
  line-height: 1;
  background-color: var(--color-migso-blue);
  border-color: var(--color-migso-blue);
  color:white;
  font-size: 14px;
  border-radius: 12px;
  margin-left: 5px
}

.modalIconAddDel:hover{
  background-color: var(--color-migso-blue-hover);
  border-color: var(--color-migso-blue-hover);
  color:white;
}

.modalSeparator{
  border-bottom: 1px solid var(--border-color-gray-0);
  width: 100%;
  margin:10px 0px;
}

.modalGroupTitle{
  font-weight: 600;
  margin-bottom:10px;
}

.modalBody{
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.modalBlockInfo{
  width:100%;
}

.modalInputRow{
  width:100%;
  margin-bottom: 6px;;
}

.modalInputColor{
  width:50px;
  margin-right:15px;
  padding:4px;
  cursor: pointer;
}

.modalPreview{
  margin-bottom: 5px;;
}

.form-check-input{
  cursor: pointer;
}
.form-check-input:checked {
  background-color: var(--color-migso-blue);
  border-color: var(--color-migso-blue);
}

 /* FLEX CONCATENATED -------------------------------------------------------------- */

.flexStartCenter{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexStartStart{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexBetweenCenter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBetweenStart{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexStartStrech{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flexCenterStrech{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flexCenterCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColCenterStart{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
}

.flexColStartCenter{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
}

.flexColCenterCenter{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.flexColBetweenCenter{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: column;
}

/* STICKY --------------------------------------------------------------- */

.stickyLeft{
  position: sticky;
}



/* TOOLTIP ------------------------------------------------------------------- */
  
.tooltipCommon{
  opacity: 1 !important;
  border-radius: 5px !important;
}
.tooltipLight{
  opacity: 1 !important;
  border-radius: 5px !important;
  border : 1px solid var(--color-text-1)!important;
  color: var(--color-text-1)!important;
}
.tooltipText{
  font-weight: 600;
}

/* KEY FRAMES ----------------------------------------------------------- */

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slideInLeft {
  from {
    margin-left: -100%;
    width:0%;
  }
  to {
      margin-left: 0%;
      width:100%;
  }
}


@keyframes slideInRight {
  from {
    margin-right: -100%;
    width:0%;
  }
  to {
      margin-right: 0%;
      width:100%;
  }
}

@keyframes heightIn {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

@keyframes widthIn {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes slectedItem {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 0 3px rgb(13 110 253 / 25%);
  }
  100% {
    box-shadow: none
  }
}

/* BUTTON ----------------------------------------------------------  */

.buttonLabel{
  color:white;
  font-size: 13px;
  font-weight: 500;
  margin:10px 0px 6px 0px
}
.buttonGroup{
  cursor: pointer;
}
.buttonGroup .buttonSideBar:first-child{
  border-bottom:none;
}
.buttonGroup .buttonSideBar:last-child{
  border-top:none;
}
.buttonSideBar{
  background-color: white;
  font-size: 18px !important;
  padding:7px 7px;
  color:var(--color-text-1);
  border:1px solid white;
  border-top-color:var(--border-color-gray-1);
  border-bottom-color:var(--border-color-gray-1);
  transition: 0.1s;
}
.buttonSideBarBorderTop{
  border-top:1px solid var(--border-color-gray-1) !important;
}
.buttonSideBar span{
  opacity:0.8;
  transition: 0.1s;
}
.buttonSideBar:hover span{
  opacity:1;
  color:var(--color-migso-blue);
}

.buttonSideBarSelected{
  background-color:var(--color-migso-blue);
  color:white;
  border-bottom-color:white;
  border-top-color:white;
}
.buttonSideBarSelected:hover span{
  color:white !important;
}

.buttonSideBarSelected span{
  opacity:1;
}
.buttonSideBarSelected:hover{
  color:white;
}
.buttonSideBarSelected-2{
  background-color: var(--bg-color-selected-3);
}
.buttonSideBarSelected-2:hover{
  color:var(--color-text-1);
}
.buttonGroup .buttonSideBar:first-child{
  border-radius:4px 4px 0px 0px;
}

.buttonGroup .buttonSideBar:last-child{
  border-radius:0px 0px 4px 4px;
}

/* UPDATER ------------------------------------------- */

.updaterInput{
  width:100%;
  border:none !important;
  background-color: rgba(0,0,0,0);
  font-weight: 500;
  z-index:1000;
}

.updaterInput:focus-visible{
  outline: none;
}

.updaterClose{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 999;
}


/* CONTEXT MENU ------------------------------------------------------------------ */

.contextMenuContent{
  position: fixed;
  z-index:150;
  background-color: white;
  border-radius: 6px;
  border:1px solid var(--border-color-gray-1);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0,0.5);
  transition: all 0.5s ease 0s;
  animation-duration: 300ms;
  animation-name: opacityIn;
  animation-iteration-count: 1;
}
.contextMenuTitle{
  padding: 8px 10px;
  border-bottom:1px solid var(--border-color-gray-1);
  text-align: left;
  font-weight: 700;
  color:var(--color-text-1);
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contextMenuSeperator{
  border-bottom:1px solid var(--border-color-gray-0);
}
.contextMenuAction{
  font-weight: 600;
  color:var(--color-text-1);
  padding:3px 10px 5px 8px;
  transition: 0.1s ;
  cursor: pointer;
}
.contextMenuAction:hover{
  background-color: var(--border-color-gray-0);
}
.contextMenuActionDelete:hover{
  color:var(--color-bad) !important;
}
.contextMenuActionIcon{
  font-size: 20px;
  margin-right:5px;
  color:var(--border-color-gray-1);
  transition: 0.1s ;
}
.contextMenuHighLight{
  color:var(--color-good) !important;
}

.contextMenuActionIconSelected{
  color:var(--color-migso-blue) !important;
}
.contextMenuAction:hover .contextMenuActionIcon{
  color:var(--color-migso-blue);
}
.contextMenuActionDelete:hover .contextMenuActionIcon{
  color:var(--color-bad) !important;
}

.contextMenuBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 149;
  width: 100vw;
  height: 100vh;
  opacity:0;
}

/* HOME -------------------------------------------------------------------------- */

.homeContent{
  padding:20px;
  width:100%;
}

/* GRID -------------------------------------------------------------------------- */

.gridContent{
  padding:20px;
  width:100%;
}

.data-grid-container .data-grid{
  width:100%;
}

.data-grid-container .data-grid .cell > input{
  height: 21px !important;
  width:100%  !important;
}

/* ROADMAP CORE -------------------------------------------------------------------------- */

.roadmapContent{
  position: relative;
  height: fit-content;
  max-height: calc(100% - 55px);
  background-color: var(--border-color-gray-1) !important;
  transition: all 0.5s ease 0s; 
}
#roadmapHeader{
  background-color: white;
  position: sticky;
  width:fit-content;
  top:0;
  z-index: 100;
  box-shadow: -2px 0px 4px 0px rgb(0, 0, 0);
  transition: all 0.5s ease 0s; 
}
.roadmapContentGroup{
  border-bottom: 1px solid var(--border-color-gray-2);
  position:inherit;
  width:fit-content;
  z-index: 1;
}
.roadmapContentGroup:last-child{
  border-bottom: none;
}
.roadmapGroup{
  width:fit-content;
  position: relative;
  transition: all 0.5s ease 0s; 
}
.roadmapGroupSelected{
  border: 2px solid green 
}
.roadmapSpinner{
  width: -webkit-fill-available;
  position: relative;
  transition: width 0.5s ease 0s;
}
.roadmapSpinnerContent{
  color:var(--color-migso-blue);
}
.roadmapGroupEdit{
  position: relative;
  background-color: black;
}
.roadmapGroupEditButtons{
  position: sticky;
  background-color:white;
  padding:5px 10px;
  z-index: 6;
}
.roadmapGroupEditButtonsSticky{
  position: sticky;
  left:10px;
}
.roadmapLeftSide{
  background-color: white;
  position: sticky;
  left:0;
  z-index:51;
  border-right: 1px solid var(--border-color-gray-2);
}
.roadmapRightSide{
  width:100%;
  height: 100%;
  position: relative;
}
.roadmapYearBlock{
  height: 100%;
  transition: all 0.5s ease 0s;
  border-left: 1px solid var(--border-color-gray-2);
}
.roadmapYearBlock:first-child{
  border-left: none;
}
.roadmapYearTxtContent{
  padding : 0px 20px;
  font-weight: 700;
}
.roadmapYearTxtContent{
  padding : 0px 20px;
  font-weight: 700;
}
.roadmapBlock{
  height:100%;
  animation-duration: 500ms;
  animation-name: slideInLeft;
  animation-iteration-count: 1;
}
.roadmapBlockTxt{
  transition: all 0.5s ease 0s;
  height:100%;
  font-weight: 500;
  border-right:1px solid var(--border-color-gray-1)
}
.roadmapBlockTxtBorderRightLight{
  border-right:1px solid var(--border-color-gray-0)
}
.roadmapBlock .roadmapBlockTxt:last-child{
  border-right:none;
}
.roadmapBlockTxtEllipsi{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 .roadmapBlockBg:nth-child(2n){
  background-color: var(--border-color-gray-00);
}
.roadmapTopSeparator{
  border-top:1px solid var(--border-color-gray-1);
}
.roadmapTopSeparatorLight{
  border-top:1px solid var(--border-color-gray-0);
}
.roadmapItemCopied{
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  animation: slectedItem 1s infinite ease-in-out;
}
.roadmapGroupName{
  padding:10px;
  font-weight: 600;
}
.roadmapSelector{
  border: 1px dashed var(--color-migso-blue);
  background-color: rgba(2, 168, 219, 0.027);
}

/* ROADMAP ITEM ----------------------------------------------- */

.roadmapItemBlock{
  transition: all 0.5s ease 0s;

}
.roadmapItemResizer{
  margin-right: -1px;
  min-width:10px;
  max-width:10px;
  background-color: var(--color-bad);
  height: inherit;
  cursor: col-resize;
}
.roadmapItemsContent{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  cursor: pointer;
}
.roadmapContentLines{
  position: absolute;
  top:0;
  left:200px;
  z-index: 0;
  background-color: white;
   transition: all 0.5s ease 0s; 
}
.roadmapDragDateViewer{
  position: fixed;
  top:10px;
  background-color:rgba(0,0,0,0.8);
  color:white;
  z-index:101;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgb(0,0,0);
}
.roadmapDragDateViewerTriangle{
  position: absolute;
  top:100%;
  height : 0;
  width : 0;
  border-right : 6px solid transparent;
  border-top : 8px solid rgba(0,0,0,0.8);
  border-left : 6px solid transparent;
}
.roadmapLevelBorder{
  width:100%;
  border-bottom:1px dashed var(--border-color-gray-1);
  transition: top 0.5s ease 0s;
}

.roadmapItemMoveDiv{
  padding:20px;
  background-color: black;
}


/* IMPORT ------------------------------- */

.importContent{
  width:100%;
  position: relative;
  overflow: hidden !important;
}
.importHeader{
  background-color: white;
  padding:20px ;
  box-shadow: -1px 0px 4px 0px rgb(0, 0, 0);
  position: relative;
  z-index: 4;
}
.importDragInit{
  transition: all 0.5s ease 0s ;
  border: 2px dashed white;
}
.importDragOver{
 background-color: yellow ;
 border:2px dashed blue ;
 transition: all 0.5s ease 0s ;
}
.importTable{
  height: calc(100vh - 265px);
  overflow: auto;
}
.importTable th{
  padding:0px;
  border-bottom: none;
}
.importTableHeader{
  padding:10px;
  border-bottom: 1px solid var(--border-color-gray-2);
}
.importTable::-webkit-scrollbar{
  background-color:var(--border-color-gray-0); 
 height:8px;
 width:8px; 
 transition: 0.3s;
}
.importTable::-webkit-scrollbar-thumb{
 background-color: var(--border-color-gray-4);
}
.importTable::-webkit-scrollbar-thumb:hover{
 background-color: var(--color-migso-blue);
}

/* SETTINGS -------------------------------------------------------------------------- */

.settingsContent{
  padding:20px;
  width:100%;
}


.box {
  position: absolute;
}

 .grabCursor{
  cursor:move;
}

/* SELECTOR ------------------------------------- */

#selector{
  position:absolute;
  background-color: rgba(2, 168, 219,0.2);
  z-index:50;
  border: 1px dashed var(--color-migso-blue);
}

